.checkout {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(193, 225, 253);
  left: 0;
}
.checkout form {
  width: 60%;
  margin: auto;
}
.checkout .close {
  position: absolute;
  left: 10;
  top: 0;
  font-size: 40px;
  cursor: pointer;
}